<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To do</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="#">ACTIVE Tasks</a></li>
                <li><a href="#">Tasks DONE</a></li>
            </ul>
        </nav>

        <header class="flex-container">
            <h1>TO DO APP</h1>

            <h2>Add a task:</h2>
    
            <form action="/addTask" method="POST">
                <input type="text" placeholder="Task Name" name="taskName" id="">
                <input type="text" placeholder="Task Description" name="taskDescription" id="">
                <input type="submit">
            </form>

        </header>

       <main class="flex-container">
            <ul class="tasks flex-container">
                <% for(let i=0; i < tasks.length; i++) {%>
                    <li class="task-li">
                        <div class="task-container">
                            <p class="task-name"><%= tasks[i].taskName %></p>
                            <p><%= tasks[i].taskDescription %></p>
                        </div>   
                        <div class="button-container">
                            <button type="button">
                                <span class="fa-solid fa-check" aria-hidden="true"></span> Done
                            </button>
                            <button type="button">
                                <span class="fa-solid fa-pen-to-square" aria-hidden="true"></span> Edit
                            </button>
                            <button type="button">
                                <span class="fa-solid fa-trash" aria-hidden="true"></span> Delete
                            </button>
                        </div>
                    </li>
                <% } %>
            </ul>
       </main>
        
        <script src='main.js'></script>
    </body>
</html>
